
body {
	background-color: #0D0039;
	color: #fff;
}

input{
	border-radius: 6px;
}

input[type="radio"]:checked + label{
	color: #f4bc05;
	opacity: .8;
}

.banner {
	font-size: 2rem;
	text-align: left
}
 a {
	text-decoration: underline;
	color: #fff;
 }

.firstLetter {
	font-size: 2.5rem;
	color: #f4bc05;
}

#pInPortland {
	font-size: 6rem;
}

h3 {
	font-weight: bold;
}

#googleLink {
	color: #f4bc05;
	font-size: 1.5rem;
}
 
.wrapper {
	flex: 1;
} 
 
img {
	display: flex;
	align-content: space-around;
	border: solid 2px white;
	border-radius: 12%;
	max-width: 270px;
	max-height:270px;
	margin: auto;	
}

p {
	margin-top: 0px;
	margin-bottom: 25px;
}

#explore {
	text-align: center;
}
.button{
	border-radius: 6px;
	max-width: 40%;
	text-align: center;
	display: inline-block;
	margin: 1em 1em;
	padding: 10px;
}
#button-display{
	align-content: center;
}

#submitBtn{
	background-color: #f4bc05;
}

#cancelBtn{
	background-color: #570000;
}

